* {
  box-sizing: border-box;
  text-decoration: none;
}

a {
  color: black;
}

body {
  margin: 0;
  overflow-x: hidden;
  display: flex;
  min-height: 100vh;
  flex-flow: column nowrap;
  justify-content: space-between;
  background-image: url('./assets/background-top-left.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

/* Header base */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1vh;
}

header img {
  max-width: 300px;
  margin: 1vh 0;
}

.nav-container {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 90px;
  font-size: large;
}

.nav-btn {
  font-family: 'Nunito Sans', sans-serif;
  color: black;
  transition: all 0.2s ease-in-out;
  position: relative;
}

.nav-btn:before {
  content: '';
  display: block;
  height: 3px;
  width: 0px;
  background-color: #24d984;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
}

.nav-btn:hover:before {
  width: 80%;
}

.nav-btn-logout {
  padding: 1vh;
  border: 2px solid #ff6136;
  border-radius: 30px;
  color: #ff6136;
  font-weight: 700;
  font-family: 'Nunito Sans', sans-serif;
  transition: all 0.2s ease-in-out;
}

.nav-btn-logout:hover {
  background-color: #ff6136;
  color: white;
}

header,
main {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
}

/* ------------------------------- */

.main-paragrapher {
  font-family: 'Roboto', sans-serif;
  font-size: 23px;
}

.main-title {
  color: #24d984;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 900;
  font-size: 23px;
}

.news-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.news-article {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.article-title {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 25px;
  max-width: 300px;
  text-align: center;
  margin: 1vh;
}

.news-article i {
  font-size: 40px;
  color: #ff6136;
  margin-bottom: 1vh;
}

.news-article img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
}

.gradient {
  border-radius: 50%;
  background: linear-gradient(to right, #f9ed32 0%, #ee2a7b 100%);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 5px;
  height: 260px;
  width: 260px;
  position: relative;
}

.gradient img {
  border: 5px solid white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.article-description {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 20px;
  max-width: 250px;
  text-align: center;
}

.btn-submit {
  background-color: #24d984;
  padding: 1.5vh;
  border-radius: 30px;
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  border: transparent;
}

/* ------------------------------- */

/* Rewards */

.rewards-container {
  display: flex;
  align-items: flex-start;
}

.category-list ul {
  display: inline-flex;
  flex-direction: column;
  list-style-type: none;
  gap: 5px;
  padding: 0;
}

.category {
  padding: 1vh 2vh;
  border: 3px solid #ff6136;
  border-radius: 30px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.selected {
  background-color: #ff6136;
}

.rewards-category {
  display: flex;
  justify-content: space-between;
  flex-flow: column wrap;
  width: 100%;
}

.categorys {
  display: inline-flex;
  align-items: flex-start;
  list-style-type: none;
  gap: 5px;
}

.chosen {
  background-color: #24d984;
}

.type {
  padding: 1vh 2vh;
  border: 3px solid #24d984;
  border-radius: 30px;
  font-family: 'Roboto', sans-serif;
}

.type p {
  margin: 0;
}
.type input {
  outline: transparent;
  border: transparent;
  background: transparent;
}

.type input::placeholder {
  font-family: 'Roboto', sans-serif;
}

.heart {
  color: #ff6136;
}

.rewards {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.rewards ul {
  display: inline-grid;
  flex-wrap: wrap;
  list-style-type: none;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
}

.reward {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.rewards img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.rewards-desc {
  font-weight: bold;
  max-width: 200px;
}

.rewards span {
  font-weight: bold;
  font-size: 20px;
}

.green {
  color: #24d984;
}

.orange {
  color: #ff6136;
}

.pagination {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination span {
  color: #24d984;
  font-size: initial;
}

/* ------------------------------- */

/* Connexion */

.header-connexion {
  padding: 4vh 0;
  text-align: center;
}

.logo-connexion {
  width: 150px;
}

.selector-connexion {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
  font-family: 'Nunito Sans', sans-serif;
}

.utilisateur {
  border-bottom: 5px solid #24d984;
}

.entreprise {
  border-bottom: 5px solid transparent;
}

.selector-connexion p {
  position: relative;
  cursor: pointer;
}

.selector-connexion p:before {
  content: '';
  display: block;
  height: 5px;
  width: 0px;
  background-color: #24d984;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
}

.selector-connexion p:hover:before {
  width: 100%;
}

.title {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 900;
  font-size: 50px;
  text-align: center;
}

.form-utilisateur,
.form-entreprise {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  width: 100%;
  gap: 50px;
}

.form-entreprise {
  display: none;
}

.form-inputs {
  display: flex;
  background-color: white;
  padding: 0.5vh 1vh;
  border: 5px solid #24d984;
  border-radius: 30px;
  max-width: 500px;
  width: 100%;
}

.form-inputs input {
  width: 100%;
  padding: 0.5vh 1vh;
  border: transparent;
  outline: transparent;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 900;
}

.form-inputs img {
  width: 32px;
}

.register {
  margin-bottom: 100px;
}

.forgot {
  margin-top: 50px;
}

.forgot,
.register {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.forgot a,
.register a {
  text-decoration: underline;
  font-weight: bold;
}

.connexion-btn {
  background-color: #24d984;
  font-family: 'Nunito Sans', sans-serif;
  padding: 13px 8px;
  border-radius: 30px;
  font-weight: 900;
  font-size: 15px;
  border: transparent;
  width: 100%;
  max-width: 200px;
  display: block;
  margin: 50px auto;
}

.company {
  display: none;
}

/* ------------------------------- */

/* Accueil Utilisateur */

.header-connexion-utilisateur {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2vh 0;
}

.header-connexion-utilisateur img {
  width: 150px;
}

.user-accueil {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
  font-size: large;
}

.nav-btn-activate {
  padding: 0.7vh 2vh;
  border: 2px solid #ff6136;
  border-radius: 30px;
  color: #ff6136;
  font-weight: 700;
  font-family: 'Nunito Sans', sans-serif;
  transition: all 0.2s ease-in-out;
}

.nav-btn-logout-user {
  padding: 0.7vh 1.5vh;
  border: 2px solid #ff6136;
  border-radius: 30px;
  color: #ff6136;
  font-weight: 700;
  font-family: 'Nunito Sans', sans-serif;
  transition: all 0.2s ease-in-out;
}

.nav-btn-activate:hover,
.nav-btn-logout-user:hover {
  background-color: #ff6136;
  color: white;
}

.card-container {
  display: flex;
  margin-top: 150px;
}

.card-infos {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fffeea;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  border-radius: 30px;
  position: relative;
}

.card-heading {
  display: flex;
  align-items: center;
  padding: 2vh 1.5vh 0;
  gap: 30px;
}

.card-heading button {
  padding: 0.5vh 3vh;
  background-color: #24d984;
  border: transparent;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 900;
  font-size: 15px;
  border-radius: 30px;
}

.card-heading img {
  width: 150px;
  margin-top: -100px;
}

.card-face {
  width: 100%;
  text-align: center;
  top: 4vh;
  position: absolute;
}

.card-face p span {
  transition: all 0.2s ease-in-out;
  position: relative;
}

.card-face p span:before {
  content: '';
  display: block;
  height: 4px;
  width: 0px;
  background-color: #24d984;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
}

.card-face p span:hover:before {
  width: 100%;
}

.card-face p span {
  width: 100%;
}

.card-person {
  width: 100%;
  text-align: center;
  margin: 3vh 0;
  display: flex;
  flex-direction: column;
}

.card-name {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 900;
  font-size: 20px;
}

.card-balance {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 2vh 1.5vh;
  margin-bottom: 5vh;
}

.balance-left,
.balance-right {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.balance-left p,
.balance-right p {
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  text-align: center;
  margin-top: 0;
}

.balance-left span,
.balance-right span {
  font-family: 'Nunito Sans', sans-serif;
  color: #24d984;
  font-size: 35px;
  font-weight: 900;
}

.balance-middle {
  display: inline-flex;
  justify-content: center;
  padding: 0 2vh;
  position: relative;
}

.line {
  background: black;
  width: 5px;
  height: 100px;
  position: relative;
}

.line:before {
  content: '';
}

.ball {
  position: absolute;
  top: 40%;
  height: 20px;
  background: black;
  width: 20px;
  border-radius: 50%;
  z-index: 1;
}

.card-modify {
  padding: 1vh 2vh;
  background-color: #ff6136;
  border-radius: 30px;
  outline: transparent;
  border: transparent;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: white;
  margin-bottom: 5vh;
}

.card-buttons {
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.card-buttons ul {
  list-style-type: none;
  padding: 0;
}

.card-buttons li {
  background-color: #24d984;
  padding: 1vh 2.5vh;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 20px;
  border-radius: 30px;
  text-align: center;
  margin: 2vh 0;
}

.card-right {
  width: 100%;
  margin: -80px 0 0 8%;
  max-width: 600px;
}

.transaction-nav {
  display: inline-flex;
  align-items: center;
  font-family: 'Nunito Sans', sans-serif;
}

.transaction-nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 0;
}

.transaction-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.transaction-title h1 {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 900;
  font-size: 35px;
}

.transaction-title button {
  padding: 0.5vh 1vh;
  background-color: #24d984;
  border: transparent;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 900;
  font-size: 15px;
  border-radius: 30px;
}

.transaction-types {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: bold;
}

.transaction-types ul {
  display: inline-flex;
  align-items: center;
  list-style-type: none;
  padding: 0;
  gap: 40px;
}
.transaction-types li {
  position: relative;
}

.transaction-types li:before {
  content: '';
  display: block;
  height: 3px;
  width: 0px;
  background-color: #24d984;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
}

.transaction-types li:hover:before {
  width: 100%;
}

.transaction-list {
  gap: 40px;
}

.transaction-list ul {
  list-style-type: none;
  padding: 0;
}

.transaction {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 400px;
}

.transaction p {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 900;
  display: flex;
  flex-direction: column;
  margin: 0 0 3vh 0;
}

.transaction p span {
  font-family: 'Roboto', sans-serif;
}

.transaction span {
  font-family: 'Nunito Sans', sans-serif;
}

.up {
  color: #24d984;
}

.down {
  color: #ff6136;
  text-decoration: line-through;
}

/* ------------------------------- */

/* Accueil Entreprise */

.maintenance {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 60px;
}

.maintenance-2 {
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
}

.chat {
  display: flex;
  align-items: center;
  justify-content: center;
}

.chat-img {
  width: 500px;
  height: 500px;
  object-fit: cover;
}

/* ------------------------------- */

/* Footer */

footer {
  height: 411px;
  background-color: #24d984;
  border-top: 15px solid #2efd84;
  padding: 50px 5%;
}

.footer-nav {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}

.footer-nav ul {
  list-style-type: none;
  font-family: 'Roboto', sans-serif;
}
.footer-nav li {
  margin-bottom: 5px;
}

.footer-nav h2 {
  font-family: 'Nunito Sans', sans-serif;
}

.footer-nav hr {
  border-style: solid;
  border-color: white;
  opacity: 50%;
}

.footer-main-logo {
  margin-top: 2.5vh;
  width: 155px;
  height: 50px;
}

.footer-sec-img {
  width: 390px;
  height: 215px;
}

.footer-links {
  display: inline-flex;
  justify-content: space-between;
  width: 40%;
}

.footer-links a {
  padding-top: 15px;
  font-family: 'Roboto', sans-serif;
}
