* {
  box-sizing: border-box;
  text-decoration: none;
}

a {
  color: black;
}

body {
  margin: 0;
  overflow-x: hidden;
  display: flex;
  min-height: 100vh;
  flex-flow: column nowrap;
  justify-content: space-between;
}

/* Header base */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1vh;
}

header img {
  max-width: 300px;
  margin: 1vh 0;
}

.nav-container {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 90px;
  font-size: large;
}

.nav-btn {
  font-family: 'Nunito Sans', sans-serif;
  color: black;
  transition: all 0.2s ease-in-out;
  position: relative;
}

.nav-btn:before {
  content: '';
  display: block;
  height: 3px;
  width: 0px;
  background-color: #24d984;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
}

.nav-btn:hover:before {
  width: 80%;
}

.nav-btn-logout {
  padding: 1vh;
  border: 2px solid #ff6136;
  border-radius: 30px;
  color: #ff6136;
  font-weight: 700;
  font-family: 'Nunito Sans', sans-serif;
  transition: all 0.2s ease-in-out;
}

.nav-btn-logout:hover {
  background-color: #ff6136;
  color: white;
}

header,
main {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
}

/* ------------------------------- */

.main-paragrapher {
  font-family: 'Roboto', sans-serif;
  font-size: 23px;
}

.main-title {
  color: #24d984;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 900;
  font-size: 23px;
}

.news-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.news-article {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.article-title {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 25px;
  max-width: 300px;
  text-align: center;
  margin: 1vh;
}

.news-article i {
  font-size: 40px;
  color: #ff6136;
  margin-bottom: 1vh;
}

.news-article img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
}

.gradient {
  border-radius: 50%;
  background: linear-gradient(to right, #f9ed32 0%, #ee2a7b 100%);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 5px;
  height: 260px;
  width: 260px;
  position: relative;
}

.gradient img {
  border: 5px solid white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.article-description {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 20px;
  max-width: 250px;
  text-align: center;
}

.btn-submit {
  background-color: #24d984;
  padding: 1.5vh;
  border-radius: 30px;
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  border: transparent;
}

/* ------------------------------- */

/* Rewards */

.rewards-container {
  display: flex;
  align-items: flex-start;
}

.category-list ul {
  display: inline-flex;
  flex-direction: column;
  list-style-type: none;
  gap: 5px;
  padding: 0;
}

.category {
  padding: 1vh 2vh;
  border: 3px solid #ff6136;
  border-radius: 30px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.selected {
  background-color: #ff6136;
}

.rewards-category {
  display: flex;
  justify-content: space-between;
  flex-flow: column wrap;
  width: 100%;
}

.categorys {
  display: inline-flex;
  align-items: flex-start;
  list-style-type: none;
  gap: 5px;
}

.chosen {
  background-color: #24d984;
}

.type {
  padding: 1vh 2vh;
  border: 3px solid #24d984;
  border-radius: 30px;
  font-family: 'Roboto', sans-serif;
}

.type p {
  margin: 0;
}
.type input {
  outline: transparent;
  border: transparent;
  background: transparent;
}

.type input::placeholder {
  font-family: 'Roboto', sans-serif;
}

.heart {
  color: #ff6136;
}

.rewards {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.rewards ul {
  display: inline-grid;
  flex-wrap: wrap;
  list-style-type: none;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
}

.reward {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.rewards img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.rewards-desc {
  font-weight: bold;
  max-width: 200px;
}

.rewards span {
  font-weight: bold;
  font-size: 20px;
}

.green {
  color: #24d984;
}

.orange {
  color: #ff6136;
}

.pagination {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination span {
  color: #24d984;
  font-size: initial;
}

/* ------------------------------- */

/* Connexion */

.header-connexion {
  padding: 4vh 0;
  text-align: center;
}

.logo-connexion {
  width: 150px;
}

.selector-connexion {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
  font-family: 'Nunito Sans', sans-serif;
}

.utilisateur {
  border-bottom: 5px solid #24d984;
}

.entreprise {
  border-bottom: 5px solid transparent;
}

.selector-connexion p {
  position: relative;
  cursor: pointer;
}

.selector-connexion p:before {
  content: '';
  display: block;
  height: 5px;
  width: 0px;
  background-color: #24d984;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
}

.selector-connexion p:hover:before {
  width: 100%;
}

.title {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 900;
  font-size: 50px;
  text-align: center;
}

.form-utilisateur,
.form-entreprise {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  width: 100%;
  gap: 50px;
}

.form-entreprise {
  display: none;
}

.form-inputs {
  display: flex;
  background-color: white;
  padding: 0.5vh 1vh;
  border: 5px solid #24d984;
  border-radius: 30px;
  max-width: 500px;
  width: 100%;
}

.form-inputs input {
  width: 100%;
  padding: 0.5vh 1vh;
  border: transparent;
  outline: transparent;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 900;
  font-size: 20px;
}

.form-inputs img {
  width: 32px;
}

.register {
  margin-bottom: 100px;
}

.forgot {
  margin-top: 50px;
}

.forgot,
.register {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.forgot a,
.register a {
  text-decoration: underline;
  font-weight: bold;
}

.connexion-btn {
  background-color: #24d984;
  font-family: 'Nunito Sans', sans-serif;
  padding: 13px 8px;
  border-radius: 30px;
  font-weight: 900;
  font-size: 15px;
  border: transparent;
  width: 100%;
  max-width: 200px;
  display: block;
  margin: 50px auto;
}

.company {
  display: none;
}

/* ------------------------------- */

/* Accueil Utilisateur */

.max-l {
  max-width: initial;
}

.header-connexion-utilisateur {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2vh 0;
  max-width: 1440px;
  margin: 0 auto;
}

.header-connexion-utilisateur img {
  width: 150px;
}

.user-accueil {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
  font-size: large;
}

.nav-btn-activate {
  padding: 0.7vh 2vh;
  border: 2px solid #ff6136;
  border-radius: 30px;
  color: #ff6136;
  font-weight: 700;
  font-family: 'Nunito Sans', sans-serif;
  transition: all 0.2s ease-in-out;
}

.nav-btn-logout-user {
  padding: 0.7vh 1.5vh;
  border: 2px solid #ff6136;
  border-radius: 30px;
  color: #ff6136;
  font-weight: 700;
  font-family: 'Nunito Sans', sans-serif;
  transition: all 0.2s ease-in-out;
}

.nav-btn-activate:hover,
.nav-btn-logout-user:hover {
  background-color: #ff6136;
  color: white;
}

.card-container {
  display: flex;
  max-width: 1440px;
  margin: 150px auto;
}

.card-infos {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fffeea;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  border-radius: 30px;
  position: relative;
}

.card-heading {
  display: flex;
  align-items: center;
  padding: 2vh 1.5vh 0;
  gap: 30px;
}

.card-heading button {
  padding: 0.5vh 3vh;
  background-color: #24d984;
  border: transparent;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 900;
  font-size: 15px;
  border-radius: 30px;
}

.card-heading img {
  width: 150px;
  margin-top: -100px;
}

.card-face {
  width: 100%;
  text-align: center;
  top: 4vh;
  position: absolute;
}

.card-face p span {
  transition: all 0.2s ease-in-out;
  position: relative;
}

.card-face p span:before {
  content: '';
  display: block;
  height: 4px;
  width: 0px;
  background-color: #24d984;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
}

.card-face p span:hover:before {
  width: 100%;
}

.card-face p span {
  width: 100%;
}

.card-person {
  width: 100%;
  text-align: center;
  margin: 3vh 0;
  display: flex;
  flex-direction: column;
}

.card-name {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 900;
  font-size: 20px;
}

.card-balance {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 2vh 1.5vh;
  margin-bottom: 5vh;
}

.balance-left,
.balance-right {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.balance-left p,
.balance-right p {
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  text-align: center;
  margin-top: 0;
}

.balance-left span,
.balance-right span {
  font-family: 'Nunito Sans', sans-serif;
  color: #24d984;
  font-size: 35px;
  font-weight: 900;
}

.balance-middle {
  display: inline-flex;
  justify-content: center;
  padding: 0 2vh;
  position: relative;
}

.line {
  background: black;
  width: 5px;
  height: 100px;
  position: relative;
}

.line:before {
  content: '';
}

.ball {
  position: absolute;
  top: 40%;
  height: 20px;
  background: black;
  width: 20px;
  border-radius: 50%;
  z-index: 1;
}

.card-modify {
  padding: 1vh 2vh;
  background-color: #ff6136;
  border-radius: 30px;
  outline: transparent;
  border: transparent;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: white;
  margin-bottom: 5vh;
}

.card-buttons {
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.card-buttons ul {
  list-style-type: none;
  padding: 0;
}

.card-buttons li {
  background-color: #24d984;
  padding: 1vh 2.5vh;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 20px;
  border-radius: 30px;
  text-align: center;
  margin: 2vh 0;
}

.card-right {
  width: 100%;
  margin: -80px 0 0 8%;
  max-width: 700px;
}

.transaction-nav {
  display: inline-flex;
  align-items: center;
  font-family: 'Nunito Sans', sans-serif;
}

.transaction-nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 0;
}

.transaction-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.transaction-title h1 {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 900;
  font-size: 35px;
}

.transaction-title button {
  padding: 0.5vh 1vh;
  background-color: #24d984;
  border: transparent;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 900;
  font-size: 15px;
  border-radius: 30px;
}

.transaction-types {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: bold;
}

.transaction-types ul {
  display: inline-flex;
  align-items: center;
  list-style-type: none;
  padding: 0;
  gap: 40px;
}
.transaction-types li {
  position: relative;
}

.transaction-types li:before {
  content: '';
  display: block;
  height: 3px;
  width: 0px;
  background-color: #24d984;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
}

.transaction-types li:hover:before {
  width: 100%;
}

.transaction-list {
  gap: 40px;
}

.transaction-list ul {
  list-style-type: none;
  padding: 0;
}

.transaction {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 400px;
}

.transaction p {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 900;
  display: flex;
  flex-direction: column;
  margin: 0 0 3vh 0;
}

.transaction p span {
  font-family: 'Roboto', sans-serif;
}

.transaction span {
  font-family: 'Nunito Sans', sans-serif;
}

.up {
  color: #24d984;
}

.down {
  color: #ff6136;
  text-decoration: line-through;
}

.map-container {
  max-width: 1440px;
  margin: 0 auto;
  margin-bottom: 15vh;
}

.where-description {
  max-width: 550px;
}

.where-description h1 {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 900;
  font-size: 40px;
}

.where-description h2 {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: bold;
  font-size: 30px;
}

.where-description p {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

.where-container {
  max-width: 500px;
  text-align: right;
}

.where-search {
  width: 100%;
  border-radius: 30px;
  padding: 1vh;
  background-color: #f5f5f5;
  border: transparent;
  outline: transparent;
}

.where-search::placeholder {
  font-family: 'Roboto', sans-serif;
}

.where-results ul {
  list-style-type: none;
  padding: 0;
}

.result img {
  width: 500px;
  height: 250px;
  object-fit: cover;
  border-radius: 20px;
}

.result-infos {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 3vh;
}

.result-infos p {
  display: inline-flex;
  flex-direction: column;
  font-family: 'Nunito Sans', sans-serif;
  margin: 0;
  text-align: left;
  font-size: 20px;
}

.result-infos p span {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}

.result-infos span {
  font-family: 'Roboto', sans-serif;
}

.where-map {
  display: inline-flex;
  margin-bottom: 2vh;
  gap: 40px;
}

.where-more {
  text-decoration: underline;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.map {
  position: relative;
}

.map img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
}

.pin-1,
.pin-2,
.pin-3,
.pin-4,
.pin-5 {
  font-size: 30px;
  color: #24d984;
}

.pin-1 {
  position: absolute;
  top: 12%;
  left: 25%;
}
.pin-2 {
  position: absolute;
  top: 35%;
  right: 15%;
}
.pin-3 {
  position: absolute;
  top: 45%;
  left: 27%;
}
.pin-4 {
  position: absolute;
  top: 50%;
  right: 35%;
}
.pin-5 {
  position: absolute;
  left: 50%;
  right: 50%;
  bottom: 25%;
}

.need-help {
  background-color: #fffeea;
  width: 100%;
}

.help-title {
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-bottom: 5vh;
}

.help-title img {
  margin-top: -125px;
  width: 250px;
}

.help-title h1 {
  font-family: 'Nunito', sans-serif;
  font-size: 50px;
  font-weight: 900;
}

.help-buttons ul {
  list-style-type: none;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.help-buttons li {
  background-color: #24d984;
  padding: 1vh 2vh;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 20px;
  border-radius: 30px;
  text-align: center;
  margin: 2vh 0;
  min-width: 250px;
}

.help-subjects {
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  gap: 40px;
  margin-bottom: 5vh;
}

.subject {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subject img {
  width: 100px;
}

.subject h2 {
  font-family: 'Nunito', sans-serif;
  font-size: 35px;
  font-weight: 900;
  position: relative;
}

.subject h2:before {
  content: '';
  display: block;
  height: 5px;
  width: 100%;
  background-color: #24d984;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.last {
  grid-column: 1 / 4;
}

/* ------------------------------- */

/* Accueil Entreprise */

.nav-entreprise {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.nav-entreprise ul {
  padding: 0;
  list-style: none;
}

.entreprise-container {
  display: flex;
  max-width: 1440px;
  margin: 150px auto;
}

.entreprise-left {
  flex-shrink: 0;
}

.entreprise-bg {
  position: relative;
  overflow: hidden;
}

.entreprise-infos {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fffeea;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  border-radius: 30px;
  position: relative;
}

.entreprise-heading {
  display: flex;
  align-items: center;
  padding: 2vh 1.5vh 0;
  gap: 30px;
}

.entreprise-heading button {
  padding: 0.5vh 3vh;
  background-color: #24d984;
  border: transparent;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 900;
  font-size: 15px;
  border-radius: 30px;
}

.entreprise-heading img {
  width: 150px;
  margin-top: -100px;
}

.entreprise-person {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.entreprise-name {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 900;
  font-size: 30px;
}

.entreprise-stats {
  width: 100%;
  padding: 2vh 1.5vh;
}

.card-employees,
.cards-activated {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10px;
}

.card-employees p,
.cards-activated p {
  font-family: 'Nunito', sans-serif;
  font-size: 15px;
  text-align: center;
  margin-top: 0;
}

.card-employees span,
.cards-activated span {
  font-family: 'Nunito Sans', sans-serif;
  color: #24d984;
  font-size: 30px;
  font-weight: 900;
}

.balance-middle {
  display: inline-flex;
  justify-content: center;
  padding: 0 2vh;
  position: relative;
}

.entreprise-modify {
  padding: 1vh 2vh;
  background-color: #ff6136;
  border-radius: 30px;
  outline: transparent;
  border: transparent;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: white;
  margin-bottom: 5vh;
  cursor: pointer;
}

.entreprise-right {
  width: 100%;
  margin: -80px 0 0 8%;
}

.members {
  max-width: 800px;
  width: 100%;
}

.member-nav {
  display: inline-flex;
  align-items: center;
  font-family: 'Nunito Sans', sans-serif;
}

.member-nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 0;
}

.member-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.member-title h1 {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 900;
  font-size: 35px;
}

.member-btn {
  padding: 0.5vh 1vh;
  background-color: #24d984;
  border: transparent;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 900;
  font-size: 15px;
  border-radius: 30px;
  cursor: pointer;
}

.off {
  background-color: #fff;
  border: 1px solid #24d984;
}

.member-list {
  display: inline-flex;
  flex-direction: column;
  max-width: 550px;
  width: 100%;
  gap: 40px;
}

.member-list ul {
  list-style-type: none;
  padding: 0;
}

.member {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.member p {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 900;
  display: flex;
  flex-direction: column;
  margin: 0 0 3vh 0;
}

.member p span {
  font-family: 'Roboto', sans-serif;
}

.member span {
  font-family: 'Nunito Sans', sans-serif;
}

.member-more {
  text-decoration: underline;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  text-align: right;
  font-size: 20px;
}

.recharge-info {
  background-color: #fffeea;
  width: 100%;
  padding: 15vh 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.recharge-info h1 {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 50px;
  font-weight: 900;
}

.recharge-info h2 {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 35px;
  font-weight: 900;
  max-width: 50%;
}

.recharge-btn {
  padding: 1vh 5vh;
  background-color: #24d984;
  border: transparent;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 900;
  font-size: 18px;
  border-radius: 30px;
}

.need-help-special {
  width: 100%;
  position: relative;
  margin-bottom: 5vh;
}

.help-special-title {
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-bottom: 8vh;
}

.help-special-title img {
  margin-top: -125px;
  width: 250px;
}

.help-special-title h1 {
  font-family: 'Nunito', sans-serif;
  font-size: 50px;
  font-weight: 900;
}

.help-special-buttons ul {
  list-style-type: none;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.help-special-buttons li {
  background-color: #24d984;
  padding: 1vh 2vh;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 20px;
  border-radius: 30px;
  text-align: center;
  margin: 2vh 0;
  min-width: 250px;
}

.help-special-subjects {
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  gap: 40px;
  margin-bottom: 5vh;
}

.yellow-container {
  overflow: hidden;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  z-index: -1;
}

.yellow-background-index {
  border: 25vw solid #fffe9b;
  position: absolute;
  bottom: 400px;
  top: initial;
  right: 0;
  border-radius: 50%;
  transform: translate(50%, 60%);
  background-color: white;
  height: 50vw;
  width: 60vw;
  box-sizing: content-box;
  z-index: -1;
}

.yellow-background-rewards {
  border: 25vw solid #fffe9b;
  position: absolute;
  bottom: 400px;
  top: initial;
  right: 0;
  border-radius: 50%;
  transform: translate(50%, 60%);
  background-color: white;
  height: 50vw;
  width: 60vw;
  box-sizing: content-box;
  z-index: -1;
}

.yellow-background-connexion {
  border: 25vw solid #fffe9b;
  position: absolute;
  bottom: 400px;
  top: initial;
  right: 0;
  border-radius: 50%;
  transform: translate(50%, 60%);
  background-color: white;
  height: 50vw;
  width: 60vw;
  box-sizing: content-box;
  z-index: -1;
}

.yellow-background-accueil-utilisateur {
  border: 25vw solid #fffe9b;
  position: absolute;
  bottom: 400px;
  top: initial;
  right: 0;
  border-radius: 50%;
  transform: translate(50%, 60%);
  background-color: white;
  height: 50vw;
  width: 60vw;
  box-sizing: content-box;
  z-index: -1;
}

.yellow-background-up-accueil-entreprise {
  border: 25vw solid #fffe9b;
  position: absolute;
  bottom: 400px;
  top: initial;
  right: 0;
  border-radius: 50%;
  transform: translate(50%, 60%);
  background-color: white;
  height: 50vw;
  width: 60vw;
  box-sizing: content-box;
  z-index: -1;
}

.yellow-background-down-accueil-entreprise {
  border: 25vw solid #fffe9b;
  position: absolute;
  bottom: 400px;
  top: 0;
  left: 0;
  border-radius: 50%;
  transform: translate(-40%, -60%);
  background-color: white;
  height: 50vw;
  width: 60vw;
  box-sizing: content-box;
  z-index: -1;
}

/* ------------------------------- */

/* Footer */

footer {
  height: 411px;
  background-color: #24d984;
  border-top: 15px solid #2efd84;
  padding: 50px 5%;
}

.footer-nav {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}

.footer-nav ul {
  list-style-type: none;
  font-family: 'Roboto', sans-serif;
}
.footer-nav li {
  margin-bottom: 5px;
}

.footer-nav h2 {
  font-family: 'Nunito Sans', sans-serif;
}

.footer-nav hr {
  border-style: solid;
  border-color: white;
  opacity: 50%;
}

.footer-main-logo {
  margin-top: 2.5vh;
  width: 155px;
  height: 50px;
}

.footer-sec-img {
  width: 390px;
  height: 215px;
}

.footer-links {
  display: inline-flex;
  justify-content: space-between;
  width: 40%;
}

.footer-links a {
  padding-top: 15px;
  font-family: 'Roboto', sans-serif;
}
